/* If you have set your body tag or a wrapper div with class='wrapper' in your desktop styles.css
   to a specific width then you will want to change it to width: auto;
   You may also have set a min-width in styles.css.  Best to change that to 0px

   2020/09/11, AR - migrated as-is
*/
#main_body
{
   width: auto;
   /* max-width: 320px; */ /* max_width works with iPhones, but doesn't format well with new Android phones and devices that are wider than 320px */
   min-width: 0px;
   background-color:#FFFFFF;color:#FFFFFF;
}
body{
	padding:0; margin:0; width: auto; min-width: 0px;
	background:url(../images/bg3.gif) repeat-x 0 0 #FFFFFF; color:#FFFFFF;
}

/* On the desktop stylesheet you probably have many floats for side menus or ads next to elements in the page.
   You will want to cancel all these floats so that users don't have to scroll left and right to see everything
   on the page.  If you decide to include your side menu it will appear above the content of your page.  Make
   sure you set the width to auto or 100%
*/
#left_pan
{
   padding: 0px;
   width: 100%;
   float: none;
   margin:0 0 10px 0;
   color:#000000;
   background:url(../images/logo_bg12.jpg) no-repeat #FFFFFF;
background-color:#FFFFFF; 
}

/* In a side menu you usually place anchor links or buttons.
If you have each link displayed as block you may want to let
them float next to each other so that they don't take up as much room vertically.
Put some margin around them so they are easy to press with a finger.
*/
#left_pan a
{
   padding: 1px;
   margin: 3px;
   float: left;
}
#left_pan h3{
	line-height:1px; 
}
#left_pan ul.extra{
	width:auto; display:block; margin:10px 0 0 0;
	}
#left_pan ul.extra2{
	width:auto; display:block; margin:10px 0 0 0;
	}
#rightPan
{
   background:none; width:auto; margin:10px 0 0 0; color:#000000;background-color:#FFFFFF;
}
#rightPan p
{
   width:auto;color:#000000;background-color:#FFFFFF; 
}
#rightPan p.other
{
   width:auto;color:#000000;background-color:#FFFFFF;  
}
#rightPan p.full{
   width:auto;color:#000000;background-color:#FFFFFF;
}
#rightPan p.heading{
   width:auto;color::#F89020;background-color:#FFFFFF;
}
#rightPan h2
{
   margin:5px 0 0 5px;background-color:#FFFFFF;color:#000000; 
}

#rightPan ul.link
{	
   display: none;
}

#rightLeft a.more1{
	width:100px; background:url(../images/ul3_arrow_mob.gif) no-repeat 0 0 #FFFFFF; color:#000000; margin:0 0 0 0px; height:16px;
	font:13px/14px Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; display:block; padding:0 0 0 23px;
	float:right;
	}
#rightLeft a.more1:hover{
	color:#C01F0B;background:url(../images/ul3_arrow_mob.gif) no-repeat 0 0 #FFFFFF; width:100px; 
	}

#left_pan ul.home
{
   display: none;
}
#left_pan ul.other
{
   display: none;
}
#rightPan ul.main 
{
   width:auto; display:block; margin:0 0 0 5px; height:29px; font-size:0; 

}

#rightPan ul.main li a.main{
	width:59px;
	}
#rightPan ul.main li a.main:hover{
	width:59px;
	}
#rightPan ul.main li a.home{
	background:url(../images/about_us_mob.gif) no-repeat 0 0; width:64px;
	}
#rightPan h4{
	width:auto; padding:11px 0 5px 0x; background-color:#FFFFFF;
}
.forminput
{
   width: 230px;
}
#rightPan ul.list{
	width:auto;
}
#rightPan ul.list li.lst {

	width:auto; height:auto;
}
#rightPan ul.list li.lst a{

	width:auto; height:auto;
}
#rightPan ul.meets{
	width:auto;
}

#rightPan ul.meets li{
	border-bottom:#C9B884 1px dotted; height:auto; font-size:0;
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#000000; margin:3px 0 6px 10px; padding:0; display:block;
	 background-image:none;	background-color:#FFFFFF; text-align:left; font-weight:normal; width:100%;
	}

#rightPan P.other{
	width:auto;
}
#rightPan p.year{
background-color:#FFFFFF;width:100%;margin:0 0 20px 10px;padding:5px 0 5px 0;color:#000000;font-weight:bold;
}
#rightPan p.infohead{
background-color:#808080;width:100%;margin:0 0 20px 10px;padding:5px 0 5px 0;color:#000000;font-weight:bold;  
}

#rightPan ul.main li a.home:hover{
	background:url(../images/about_us_h74.gif) no-repeat 0 0; width:64px;
	}
#rightPan ul.main li a.home2{
	background:url(../images/menu_mob.gif) no-repeat 0 0; width:56px;
	}

#rightPan ul.main li a.home2:hover{
	background:url(../images/menu_mob_h56.gif) no-repeat 0 0; width:56px;
	}
#rightPan ul.main li a.home3{
	background:url(../images/menu_mob_50.gif) no-repeat 0 0; width:50px;
	}

#rightPan ul.main li a.home3:hover{
	background:url(../images/menu_mob_h50.gif) no-repeat 0 0; width:50px;
	}
#rightPan ul.main li a.home4{
	background:url(../images/menu_mob_44.gif) no-repeat 0 0; width:44px;
	}

#rightPan ul.main li a.home4:hover{
	background:url(../images/menu_mob_h44.gif) no-repeat 0 0; width:44px;
	}
#rightLeft{
	width:auto; float:left; margin:0 0 10px 10px;
	}
#rightRight{
	width:auto; float:left; margin:0 0 10px 10px;
	}
#rightLeft h2{
	padding:11px 0 0 0; margin:0 0 0 0; 
}
#rightRight h2{
	padding:11px 0 0 0; margin:0 0 0 0; 
}
#rightRight ul li{
	color:#000000; background-color:#FFFFFF; width:100%;
	}
#rightLeft ul li{
	color:#000000; background-color:#FFFFFF; width:100%;
	}

#leftBottom{
	width:auto;
}
#leftBottom h2{
	padding:21px 0 0 0; margin:0 0 0 0; 
}

#rightPan h3{
	width: auto; margin:10px 0 0 10px;color:#000000;background-color:#FFFFFF;  
}

#rightPan h5{
	width: auto;
}
#rightPan h6{
	width: auto; margin:10px 0 0 0;background-color:#FFFFFF;   
}
a.link{
	width: auto;color:#000000;background-color:#FFFFFF;  
}
#rightPan ul.list li.whoswho{
	width: auto; padding:0 10px 0 18px;
}
#left_pan ul.extra2{
	width:200px;color:#000000;background-color:#FFFFFF; 
}
#left_pan ul.extra2 li{
	color:#000000;background-color:#FFFFFF; 
}
#left_pan ul.extra2 li.li1{
	color:#000000;background-color:#FFFFFF; 
}
#left_pan ul.extra2 li.li1 a{
	color:#000000;background-color:#FFFFFF; 
}
#left_pan ul.extra2 li.fb{
	background:none; border-bottom:none; padding: 5px 0 5px 18px;
color:#000000;background-color:#FFFFFF;
	}
#left_pan ul.extra2 li.fb a{
	color:#000000;background-color:#FFFFFF;
	}
#left_pan ul.extra2 li a{
	color:#808080;background-color:#FFFFFF;font-weight:bold;width:100%; 
	}

#left_pan ul.extra2 li.title a{
color:#000000;background-color:#FFFFFF;font-weight:bold; width:100%;padding: 0 0 0 18px;
	}
#left_pan ul.extra2 li.other a{
color:#808080;background-color:#FFFFFF;font-weight:bold; width:100%;padding: 0 0 0 18px;
	}
#rightPan ul.books{
	width:auto;margin:10px 0 0 0;
}
#rightPan ul.books li{
	width:100%;   color:#000000;background-color:#FFFFFF;
}

#rightPan ul.narrow{
	width:auto;margin:10px 0 0 0;
}
#rightPan ul.narrow li{
	width:100%;   color:#000000;background-color:#FFFFFF;
}

#rightPan ul.narrow li a{
	font:13px/14px Arial, Helvetica, sans-serif; color:#000000; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#FFFFFF; text-align:left; font-weight:normal; width:570px;
	}

 
#rightPan ul.books li.gototop{
	width:100%;color:#000000;background-color:#FFFFFF;
}
#rightPan ul.books li a.gototop{
   	width:100%;color:#F89020;background-color:#FFFFFF;background-image:none;text-align:left;background:none;
}



#rightPan ul.books li.heading{
	width:auto;
}
#leftBottom form input.button{
	width:59px; height:22px; display:block; background:url(../images/ul3_arrow_mob.gif) no-repeat 0 5px #FFFFFF; 
        color:#000000;
	font:13px/15px Verdana, Arial, Helvetica, sans-serif; padding:0 0 0 21px; margin:0 0 10px 90px; border:none;
	cursor:pointer; font-weight:bold;
	}
#leftBottom form label{
	color:#000000; font-weight:bold; 
	background-color:#FFFFFF;
}

#homelink {
	position: absolute; left: 7px; top: 200px; height: 20px; width: 100px; padding: 1em;display:block;
}
#homelink a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;
text-decoration:none;
	}

a.link{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#000000; margin:3px 0 3px 0; padding:0; display:block;
	background:none; background-color:#FFFFFF; text-align:left; font-weight:normal; width:100%;
	}

#rightLeft ul.short{
	width:auto; margin:0; padding:0; display:block;
	}
#rightLeft ul.short li{
	padding:0; margin:0; display:block; height:26px; font-size:0; border-bottom:none;
	}
#rightLeft ul.short li.nolink{
	width:auto; height:19px; display:block; color:#000000; font:16px/18px Arial, Helvetica, sans-serif; font-weight:bold;
	background-color:#FFFFFF; padding:6px 10px 0 0; margin:5px 0 10px 0; text-transform:none;
	}
#rightLeft ul.short li a{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#000000; margin:0; padding:0; display:block;
	background-image:none;	background-color:#FFFFFF; text-align:left; font-weight:normal; width:100%;
	}

#rightRight ul.short{
	width:auto; margin:0; padding:0; display:block;
	}
#rightRight ul.short li{
	padding:0; margin:0; display:block; height:26px; font-size:0; border-bottom:none;
	}
#rightRight ul.short li.nolink{
	width:auto; height:19px; display:block; color:#000000; font:16px/18px Arial, Helvetica, sans-serif; font-weight:bold;
	background-color:#FFFFFF; padding:6px 10px 0 0; margin:5px 0 10px 0; text-transform:none;
	}
#rightRight ul.short li a{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#000000; margin:0; padding:0; display:block;
	background-image:none;	background-color:#FFFFFF; text-align:left; font-weight:normal; width:100%;
	}
#rightRight h3{
	background-image:none;padding:11px 0 0 0;margin:0 0 10px 0; 
}
