/* CSS Document 2020/09/11, AR - migrated as-is */
body{
	background:url(../images/bg3.gif) repeat-x 0 0 #404040; color:#FFFFFF;
	padding:0; margin:0;
}
div, p, ul, h1, h2, h3, img, form{
	padding:0; margin:0;
	}
td 	{font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#404040;
	}
ul{
	list-style-type:none;
	}
.bank{
	line-height:0; font-size:0; clear:both;
	}
.forminput
{
   width: 350px;
}
A.inlinetag {font:13px/17px verdana,helvetica,arial,sans-serif; color:#F89020; font-weight:bold; text-decoration:none; 
	}
A.inlinetag:hover{
	color:#F89020; background:none; text-decoration:underline;
	}
A.inlinetop {font:13px/17px verdana,helvetica,arial,sans-serif; color:#F89020; font-weight:bold; text-decoration:none; 
	margin:0 0 0 10px;		
	}
A.inlinetopg:hover{
	color:#C01F0B; background:none; text-decoration:underline;
	}
div#mlleft { width: 30%; float:left;}
div#mlright {width: 70%; float:left;}


/*------------------------main body-------------------------*/
#main_body{
	width:878px;  margin:0 auto 0 auto; height: 100%;
	}
#left_pan{
	width:188px; color:#404040; float:left;
background:url(../images/logo_bg11.gif) no-repeat #404040; 
 
}
#personal_accounts{
	width:auto;
}
#instruction{
	width:auto;
}
#guides_to_england{
	width:auto;
}
#guides_to_wales{
	width:auto;
}
#guides_to_scotland{
	width:auto;
}
other_guides{
	width:auto;
}
#maps{
	width:auto;
}
#info{
	width:auto;
}
#myform{
	width:auto;
}
#this_year_meets{
	width:auto;
}
#next_year_meets{
	width:auto;
}
#gallery{
	width:auto;
}
#next_meet{
	width:auto;
}
#news{
	width:auto;
}
#homelink {
	position: absolute; left: 9px; top: 200px; height: 20px; width: 100px; padding: 1em;
	display: none;
}


#left_pan img{
	margin:40px 0 38px 52px; display:block;
	}
#left_pan h2{
	width:73px; height:41px; background:url(../images/login_bg.gif) no-repeat 0 0; margin:0 0 0 6px; display:block;
	font:14px/14px Arial, Helvetica, sans-serif; padding:17px 65px 0 32px; font-weight:bold; text-transform:uppercase; 
	
	}
#left_pan h2 span{
	font-size:24px; line-height:24px; 
	}
#left_pan h3{
	font:13px/29px Verdana, Arial, Helvetica, sans-serif; font-weight:normal; line-height:13px; color:#FFFFFF; padding:247px 45px 0 25px;
	}
#left_pan ul{
	width:150px; display:block; margin:248px 0 0 28px;
	}
#left_pan ul li{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:#B8A997 1px dotted; padding: 0 0 0 18px;
	}
#left_pan ul li.li1{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul li a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; background-color:#404040;
	}
#left_pan ul li a:hover{
	text-decoration:underline;
	}
#left_pan ul li a.fb{
	background:url(../images/fb.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.other{
	width:150px; display:block; margin:248px 0 0 28px;
	}
#left_pan ul.other li{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:#B8A997 1px dotted; padding: 0 0 0 18px;
	}
#left_pan ul.other li.li1{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.other li a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; background-color:#404040;
	}
#left_pan ul.other li a:hover{
	text-decoration:underline;
	}
#left_pan ul.other li a.fb{
	background:url(../images/fb.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}

#left_pan ul.home{
	width:150px; display:block; margin:28px 0 0 28px;
	}
#left_pan ul.home li{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:#B8A997 1px dotted; padding: 0 0 0 18px;
	}
#left_pan ul.home li.li1{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.home li a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; background-color:#404040;
	}
#left_pan ul.home li a:hover{
	text-decoration:underline;
	}
#left_pan ul.home li a.fb{
	background:url(../images/fb.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.extra{
	width:150px; display:block; margin:50px 0 0 28px;
	}
#left_pan ul.extra li{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:#B8A997 1px dashed; padding: 0 0 0 18px;
	}
#left_pan ul.extra li a{
	font:12px/18px Verdana, Arial, Helvetica, sans-serif;
	}
#left_pan ul.extra li.li1{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.extra li.title{
	background:none; border-bottom:none; padding: 0 0 0 0; color:#F89020; font-weight:bold;
	}
#left_pan ul.extra li.title a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-decoration:none; background-color:#404040;
	}
#left_pan ul.extra li a:hover{
	text-decoration:underline;
	}
#left_pan ul.extra2{
	width:150px; display:block; margin:50px 0 0 28px;
	}
#left_pan ul.extra2 li{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:#B8A997 1px dashed; padding: 0 0 0 18px;
	}
#left_pan ul.extra2 li a{
	font:12px/18px Verdana, Arial, Helvetica, sans-serif;
	}
#left_pan ul.extra2 li.li1{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.extra2 li.li2{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; border-bottom:none; padding: 0 0 0 18px;
	}
#left_pan ul.extra2 li.fb{
	background:url(../images/fb.gif) no-repeat 0 8px; border-bottom:none; padding: 5px 0 5px 18px;
	}
#left_pan ul.extra2 li.title{
	background:none; border-bottom:none; padding: 0 0 0 0; color:#F89020; font-weight:bold;
	}
#left_pan ul.extra2 li.title a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-decoration:none; background-color:#404040;
	}
#left_pan ul.extra2 li.other{
	background:none; border-bottom:none; padding: 0 0 0 0; color:#F89020; font-weight:bold;
	}
#left_pan ul.extra2 li.other a{
	font:12px/23px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-decoration:none; background-color:#404040;
	}
#left_pan ul.extra2 li a:hover{
	text-decoration:underline;
	}



/*-------------------------------right side--------------------*/
#rptitle{
	float:left; width:auto;
}
#rightPan{
	width:590px; float:left; margin:0; background:url(../images/header_pic3.jpg) no-repeat 0 29px;
	}

#rightPan ul{
	width:550px; display:block; margin:0 0 0 25px; height:29px; font-size:0; 
	}
#rightPan ul li{
	float:left;  height:29px; 
	}
#rightPan ul li a{
	font:12px/29px Arial, Helvetica, sans-serif; font-weight:bold; height:29px; display:block; color:#FFFFFF;
	background:url(../images/navi_bg.gif) repeat-x 0 0 #005050; text-decoration:none; text-align:center;
	}
#rightPan ul li a.main{
	background:url(../images/home.gif) no-repeat 0 0; width:59px;
	}
#rightPan ul li a.main:hover{
	background:url(../images/home_h.gif) no-repeat 0 0; width:59px;
	}
#rightPan ul li a.home{
	background:url(../images/about_us.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul li a.home:hover{
	background:url(../images/about_us_h.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main{
	width:550px; display:block; margin:0 0 0 25px; height:29px; font-size:0; 
	}
#rightPan ul.main li{
	float:left;  height:29px; 
	}
#rightPan ul.main li a{
	font:12px/29px Arial, Helvetica, sans-serif; font-weight:bold; height:29px; display:block; color:#FFFFFF;
	background:url(../images/navi_bg.gif) repeat-x 0 0 #005050; text-decoration:none; text-align:center;
	}
#rightPan ul.main li a.main{
	background:url(../images/home.gif) no-repeat 0 0; width:59px;
	}
#rightPan ul.main li a.main:hover{
	background:url(../images/home_h.gif) no-repeat 0 0; width:59px;
	}
#rightPan ul.main li a.home{
	background:url(../images/about_us.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home:hover{
	background:url(../images/about_us_h.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home2{
	background:url(../images/about_us.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home2:hover{
	background:url(../images/about_us_h.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home3{
	background:url(../images/about_us.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home3:hover{
	background:url(../images/about_us_h.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home4{
	background:url(../images/about_us.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.main li a.home4:hover{
	background:url(../images/about_us_h.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul li a.sub{
	background:url(../images/submission.gif) no-repeat 0 0; width:92px;
	}
#rightPan ul li a.sub:hover{
	background:url(../images/submission_h.gif) no-repeat 0 0; width:92px;
	}
#rightPan ul li a.con{
	background:url(../images/contact_us.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul li a.con:hover{
	background:url(../images/contact_us_h.gif) no-repeat 0 0; width:74px;
	}
#rightPan ul.link{
	width:590px; display:block; margin:50px 0 0 0; height:20px; 
	}
#rightPan ul.link li{
	float:left;   width:102px; font-size:0px; display:block; padding:0 0 0 70px; height:20px;
	}
#rightPan ul.link li.sup{
	float:left;   width:96px; font-size:0px; display:block; padding:0 0 0 68px; height:20px; margin:0;
	}
#rightPan ul.link li.sol{
	float:left;   width:122px;  display:block; padding:0 0 0 115px; height:20px;
	}
#rightPan ul.link li a{
	font:20px/20px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#DC801E ; font-weight:normal; 
	background-color:#404040; background-image:none;  display:block; width:104px; text-align:right; height:20px;
	}
#rightPan ul.link li a:hover{
	color:#F79C10; background-color:#404040; padding:0; margin:0;
	}
#rightPan ul.sub_link{
	width:590px; display:block; margin:0px 0 0 0; height:14px; padding:0;
	}
#rightPan ul.sub_link li{
	float:left;  width:214px; font-size:0px; display:block; padding:0 0 0 0px; height:14px; margin:0;
	}
#rightPan ul.sub_link li.sup1{
	float:left;   width:136px; font-size:0px; display:block; padding:0 0 0 52px; height:inherit;
	}
#rightPan ul.sub_link li.sol1{
	float:left;   width:112px; font-size:0px; display:block; padding:0 0 0 65px; 
	}
#rightPan ul.sub_link li a{
	font:14px/14px Arial, Helvetica, sans-serif; color:#353535; font-weight:normal; 
	background-color:#404040; background-image:none;  display:block; width:204px; text-align:right; height:14px;
	}
#rightPan ul.sub_link li a:hover{
	color:#5A3000; background-color:#404040; padding:0; margin:0; text-decoration:underline;
	}
#rightPan h2{
	width:344px; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	margin:175px 0 0 10px; padding:0px 0 0 0; height:29px; background-color:#404040;
	}
#rightPan h3{
	width:auto; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	margin:10px 0 0 10px; padding:0px 0 0 0; height:29px; background-color:#404040;
	}
#rightPan h4{
	float:left; width:570px; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; 
	margin:15px 0 0 0; padding:11px 0 5px 10px; height:29px; background-color:#404040;
	}
#rightPan h5{
	float:left; width:570px; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; 
	margin:15px 0 0 10px; padding:11px 0 5px 10px; height:29px; background-color:#202020;
	}
#rightPan h6{
	float:left; width:570px; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; 
	margin:15px 0 0 0; padding:11px 0 5px 10px; height:29px; background-color:#404040;
	}
#rightPan p.heading{
	width:auto; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	margin:10px 0 0 10px; padding:0px 0 0 0; height:29px; background-color:#404040;
	}
#rightPan p.headinglib{
	width:auto; display:block; font:18px/18px Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	margin:10px 0 0 10px; padding:0px 0 10px 0; height:auto; background-color:#404040;
	}


#rightPan p.section{
	float:left; width:570px; height:39px; display:block; color:#F89020; text-transform:uppercase; font:16px/18px Arial, Helvetica, sans-serif; font-weight:bold;
	background-color:#202020; padding:11px 0 0 10px; margin:0 0 18px 0; 
	}
#rightPan p.section2{
	float:left; width:570px; height:39px; display:block; color:#F89020; text-transform:uppercase; font:16px/18px Arial, Helvetica, sans-serif; font-weight:bold;
	background-color:#202020; padding:11px 0 0 10px; margin:0 0 18px 0; 
	}

#rightPan p{
	width:570px; font:13px/17px verdana,helvetica,arial,sans-serif; font-weight:normal; display:block;
	margin:0 0 20px 10px; 
	}
#rightPan p.other{
	width:570px; font:13px/17px verdana,helvetica,arial,sans-serif; color:#FFFFFF; font-weight:normal; display:block;
	margin:0 0 20px 10px; background-color:#404040;
	}
#rightPan p.infohead{
	width:auto; font:18px/18px verdana,helvetica,arial,sans-serif; color:#000000; font-weight:bold; display:block;
	padding:5px 0 5px 0;  background-color:#808080;
	}
#rightPan p.year{
	width:auto; font:18px/18px verdana,helvetica,arial,sans-serif; color:#F89020; font-weight:bold; display:block;
	padding:5px 0 5px 0;  background-color:#404040;
	}



#rightPan ul.list{
	width:570px; margin:0 0 5px 10px; padding:0; display:block;
	}
#rightPan ul.list li.whoswho{
	background:none; color:#FFFFFF; width:350px; border-bottom:none; padding:0 230px 0 18px;; margin:0; display:block; height:130px; font:13px/14px Verdana, Arial, Helvetica, sans-serif;
	}
#rightPan ul.list li.lst{
	background:url(../images/ul2_arrow.gif) no-repeat 0 8px; color:#FFFFFF; border-bottom:none; padding:0; margin:0; display:block; height:24px; font:13px/14px Verdana, Arial, Helvetica, sans-serif;
	}
#rightPan ul.list li.lst span{
	color:#FFFFFF; font:13px/14px Verdana, Arial, Helvetica, sans-serif;
	}
#rightPan ul.list li.lst a{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 3px 0; padding:0; display:block;
	background:none; background-color:#404040; text-align:left; font-weight:normal; width:570px;
	}
#rightPan ul.list li.lst a:hover{
	text-decoration:underline;ckground-color:#FFFFFF;color:#000000;
	}
a.link{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 3px 0; padding:0; display:block;
	background:none; background-color:#404040; text-align:left; font-weight:normal; width:570px;
	}
a.link :hover{
	text-decoration:underline;
	}

#rightPan ul.meets{
	width:570px; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightPan ul.meets li{
	border-bottom:#C9B884 1px dotted; height:auto; font-size:0;
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 10px; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:570px;
	}
#rightPan ul.meets li.noborder1{
	border-bottom:none; padding:0 0 0 10px; margin:0; display:block; height:48px; font-size:0;
	}
#rightPan ul.meets li a{
	font:13px/14px Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:570px;
	}
#rightPan ul.meets li a b{
	margin:0 200px 0 0;
	}

#rightPan ul.narrow{
	width:570px; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightPan ul.narrow li{
	border-bottom:#C9B884 1px dashed; padding:0; margin:0 0 0 10px; display:block; height:32px; font-size:0; 
	}
#rightPan ul.narrow li.noborder1{
	border-bottom:none; padding:0 0 0 10px; margin:0; display:block; height:28px; font-size:0;
	}
#rightPan ul.narrow li a{
	font:13px/14px Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:570px;
	}

#rightPan ul.books{
	width:570px; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightPan ul.books li{
	border-bottom:#C9B884 1px dashed; padding:0 0 5px 0; display:block; font-size:0; height:auto;
	font:13px/17px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 10px; 
	background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:570px; 
	}
#rightpan ul.books li.heading {
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
margin:3px 0 6px 10px; 
	background-image:none;	background-color:#404040; text-align:left; font-weight:bold; width:auto; 
	}
#rightpan ul.books li.heading a{
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
margin:3px 0 6px 10px; 
	background-image:none;	background-color:#404040; text-align:left; font-weight:bold; width:auto; 
	}

#rightPan ul.bt{
	width:auto; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightPan ul.bt li{
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
}
#rightPan ul.bt li.a{
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
}
#rightpan ul.bt li.heading{
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	}
#rightpan ul.bt li.heading a{
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	}
#rightpan ul.bt li.heading a.heading{
	border-bottom:none; padding:0 0 5px 0; display:block; 
	font:18px/18px Verdana, Arial, Helvetica, sans-serif; color:#F89020; text-transform:uppercase;
	}



#rightPan ul.bookq li a{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 0 0; 
	 background-image:none;	background-color:#404040; text-align:left; font-weight:bold; width:570px;
	}
#rightPan ul.books li a{
	border-bottom:#C9B884 1px dashed; padding:0 0 5px 0; display:block; font-size:0; height:auto;
	font:13px/17px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 10px; 
	background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:570px; 
	}

#rightPan ul.books li.gototop{
	border-bottom:none; padding:0 0 5px 0; display:block; font-size:0; height:auto;
	font:13px/17px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 10px; 
	background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:auto; 
	}

#rightPan ul.books li a.gototop{
	border-bottom:none; padding:0 0 5px 0; display:block; font-size:0; height:auto;
	font:13px/17px Verdana, Arial, Helvetica, sans-serif; color:#F89020; margin:3px 0 6px 0px; 
	background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:auto;
	background:none; 			
	}

#rightPan a.section{
	width:570px; margin:0 0 15px 0px; padding:0; display:block;
	}

#rightLeft{
	width:280px; float:left; margin:0 0 45px 10px;
	}
#rightLeft h2{
	width:269px; height:29px; display:block; color:#202020; font:16px/18px Arial, Helvetica, sans-serif; font-weight:bold;
	background:url(../images/h2_bg.gif) no-repeat 11px 143px #C97D05; padding:11px 0 0 10px; margin:0 0 8px 0; text-transform:none;
	}
#rightleft p{
	width:269px; font:14px/19px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:normal; display:block;
	margin:0 0 20px 10px; background-color:#404040;
	}
#rightLeft ul{
	width:286px; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightLeft ul li{
	border-bottom:#C9B884 1px dotted; height:auto; font-size:0;
	font:13px/14px verdana,helvetica,arial,sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:277px;
	}
#rightLeft ul li.noborder{
	border-bottom:none; padding:0; margin:0; display:block; height:48px; font-size:0;
	}
#rightLeft ul li a{
	font:13px/14px Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:277px;
	}
#rightLeft ul.short{
	width:286px; margin:0; padding:0; display:block;
	}
#rightLeft ul.short li{
	padding:0; margin:0; display:block; height:26px; font-size:0; border-bottom:none;
	}
#rightLeft ul.short li.nolink{
	width:70px; height:19px; display:block; color:#202020; font:16px/18px Arial, Helvetica, sans-serif; font-weight:bold;
	background-color:#FFBF5B; padding:6px 0 0 17px; margin:0 0 18px 0; text-transform:none;
	}
#rightLeft ul.short li a{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:0; padding:0; display:block;
	background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:277px;
	}
#rightLeft a.more{
	width:32px; background:url(../images/more_arrow5.gif) no-repeat 0 0 #404040; color:#FFFFFF; margin:0 0 0 0px; height:16px;
	font:12px/14px Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; display:block; padding:0 0 0 23px;
	float:right;
	}
#rightLeft a.more:hover{
	color:#C01F0B; background:url(../images/more_arrow2.gif) no-repeat 0 0 #404040; width:32px;
	}
#rightRight{
	width:280px; float:left; margin:0 0 0 20px; height: 100%;
	}	
#rightRight h2{
	width:auto; height:29px; background:url(../images/h2_bg3.gif) no-repeat 303px 9px #303030; text-transform:none;
	 font:16px/18px Arial, Helvetica, sans-serif; color:#FFFFFF; display:block; padding:11px 140px 0 15px;
	  margin:0 0 10px 0; font-weight:bold;
	}
#rightRight h3{
	width:auto; height:29px; background:url(../images/h2_bg3.gif) no-repeat 303px 9px #303030; text-transform:none;
	 font:16px/18px Arial, Helvetica, sans-serif; color:#FFFFFF; display:block; padding:11px 0 0 15px;
	  margin:0 0 10px 0; font-weight:bold;
	}
#rightRight ul{
	width:280px; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightRight ul li{
	border-bottom:#C9B884 1px dotted; height:auto; font-size:0;
	font:13px/17px verdana,helvetica,arial,sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:401px;
display:block;

	}
#rightRight ul li.noborder1{
	border-bottom:none; padding:0; margin:0; display:block; height:48px; font-size:0;
	}
#rightRight ul li a{
	font:13px/14px Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:401px;
	}
#rightRight ul li a b{
	margin:0 200px 0 0;
	}
#rightRight ul.short{
	width:280px; margin:0 0 15px 0px; padding:0; display:block;
	}
#rightRight ul.short li{
	border-bottom:none; padding:0; margin:0; display:block; height:26px; font-size:0;
	}
#rightRight ul.short li.noborder1{
	border-bottom:none; padding:0; margin:0; display:block; height:48px; font-size:0;
	}
#rightRight ul.short li a{
	font:13px/14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin:3px 0 6px 0; padding:0; display:block;
	 background-image:none;	background-color:#404040; text-align:left; font-weight:normal; width:401px;
	}

#rightLeft a.more1{
	width:100px; background:url(../images/ul3_arrow.gif) no-repeat 0 0 #404040; color:#FFFFFF; margin:0 0 0 0px; height:16px;
	font:13px/14px Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; display:block; padding:0 0 0 23px;
	float:right;
	}
#rightLeft a.more1:hover{
	color:#C01F0B; background:url(../images/more_arrow5.gif) no-repeat 0 0 #404040; width:100px;
	}

#leftBottom{
	width:248px; float:left; margin:0; clear:both;
padding:11px 0 0 0; 
	}
#leftBottom form{
	width:148px; margin:0 0 0 0; padding:10px 0 0 0; display:block; 
	}
#leftBottom form input{
	width:136px; height:17px; display:block; font:11px Verdana, Arial, Helvetica, sans-serif; font-weight:bold;
	padding:4px 0 0 12px; margin:0px 0 10px 0; background-color:#F7E3C3;
	}
#leftBottom form input.button{
	width:59px; height:22px; display:block; background:url(images/ul3_arrow.gif) no-repeat 0 5px #404040; color:#FFFFFF;
	font:13px/15px Verdana, Arial, Helvetica, sans-serif; padding:0 0 0 21px; margin:0 0 10px 90px; border:none;
	cursor:pointer; font-weight:bold;
	}
#leftBottom form label{
	width:132px; font:12px/23px Verdana, Tahoma, Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; display:block;
	background-color:#404040;
	}
#leftBottom form a{
	width:132px; font:11px/13px Verdana, Tahoma, Arial, Helvetica, sans-serif; color:#000101; text-decoration:underline; display:block;
	background-color:#404040;
	}
#leftBottom form a:hover{
	text-decoration:none;
	}
#leftBottom h2{
	padding:11px 0 0 10px; margin:0 0 0 0;

}


/*---------------------------footer-------------------*/
#footer_bg{
	background:url(../images/footer_bg.gif) repeat-x; width:100%; margin:0  auto 0 auto; float:left; height:153px;
	}
#footer{
	width:525px; margin:0 auto 0 auto; 
	}
#footer ul{
	width:525px; margin:29px 0 7px 0; display:block; height:15px;
	}
#footer ul li{
	float:left; font:12px/14px 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#FFFFFF; background-color:#6B6854;
	display:block; 
	}
#footer ul li a{
	font:12px/14px 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#FFFFFF; background-color:#6B6854; text-decoration:none;
	margin:0 10px 0 10px;
	}
#footer ul li a:hover{
	text-decoration:underline;
	}
#footer p{
	width:188px; margin:0 0 0 162px; font:12px/14px 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#F3F1DF;
	background-color:#6B6854
	}
#footer ul.xhtml{
	width:135px; display:block; margin:12px 0 0 197px; height:21px; font-size:0px;
	}
#footer ul.xhtml li{
	float:left; height:21px; margin-right:9px;
	}
#footer ul.xhtml li a{
	text-indent:-2000px; display:block; height:21px; margin:0; padding:0; font-size:0px;
	}
#footer ul.xhtml li a.xht{
	background:url(../images/xhtml.gif) no-repeat 0 0 #6B6854; color:#fff; width:66px;
	}
#footer ul.xhtml li a.css{
	background:url(../images/css.gif) no-repeat 0 0 #6B6854; color:#fff; width:50px;
	}
#fb_like_box{position:fixed;right:-237px;top:154px;_display:none;z-index:1001;cursor:pointer;}
#fb_like_box .iconf{width:33px;height:82px;float:left;background:url('images/fb_like_box.png') center no-repeat;}
.fb_iframe_widget{background:#fff;}
#fb_like_box iframe{background:#fff;}

